:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fefefe;
  color: #282c37;
}

h1 {
  font-weight: 100;
  font-size: 1.4em;
  display: block;
  margin-bottom: 3.5vh;
  line-height: 1.2;
}

.logo {
  color: #fefefe !important;
  font-size: 2.5vh;
  z-index: 10;
  position: absolute;
  bottom: 1.5vh;
  right: 1.5vh;
  letter-spacing: 0.1ch;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
  display: flex;
  background-color: #EEE;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  border: 1em solid #fff;
  box-sizing: border-box;
  position: relative;
}

/* spinner loader */

.spinner {
  margin: 07px auto;
  width: 50px;
  height: 40px;
  font-size: 2rem;
  transition-timing-function: ease-in;
  transition: 0.5s;
  transform: translateY(-100%);
}

.spinner>div {
  background-color: rgba(137, 211, 211, 0.336);
  height: 100%;
  width: 8px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin: 0 2px 0 0;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: rgba(75, 195, 224, 0.301);
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.textUp {
  position: relative;
  animation: animatetext 3s ease-in-out 0s forwards;
}

@keyframes animatetext {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}

/* Vocab Card */

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  border: 0;
  border-radius: .25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translate(-50%, -50%);
  /* z-index: 3; */
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(2vh + 1vw);
  padding: 9vw 5vw;
  perspective: 1000px;
  max-height: 50%;
}

.card section {
  transform-style: preserve-3d;
  transition: all .1s linear;
}

.card .flipped button {
  transform: rotateY(-180deg);
}

.card .flipped {
  background-color: #F5F9F9;
  color: rgb(46, 45, 45);
  transform: rotateY(180deg);
  width: 80%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9vw 5vw;
}

.cardFront {
  backface-visibility: hidden;
}

.cardBack {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
}

.btn {
  color: rgb(145, 187, 192);
  width: 10em;
  transition: all .4s;
  border-radius: 18px;
  border: 2px solid transparent;
  cursor: pointer;
  width: 25vh;
  height: 5.3vh;
  margin: 0 .2rem;
  margin-top: 1rem;
  padding: 0;
  transition: opacity .3s ease-in;
  font-size: 1rem;
  background-color: rgba(145, 187, 192, 0.315);
  letter-spacing: .1ch;
}

.btn:hover {
  opacity: .7;
}

.card p {
  font-size: 2.4vh;
}

@media screen and (max-device-width: 830px) {
  .card {
    perspective: none;
  }
  .card section {
    transform-style: unset;
    transition: all .1s linear;
  }
  .card .flipped button {
    transform: none;
  }
  .card .flipped {
    /* background-color: #F5F9F9; */
    transform: none;
    box-shadow: none;
  }
  .cardFront {
    backface-visibility: unset;
  }
  .cardBack {
    transform: none;
  }
}